<div class="formulaire">
Formulaire d'inscription :
<p>L'enfant : </p>
<form action="/" method="post">
	<p>Nom <input type="text" /></p>
	<p>Prénom <input type="text" /></p>
	<p>Age (ans)
		 8<input type="radio" name="age"checked />
		 9<input type="radio" name="age" />
		10<input type="radio" name="age" >
		11<input type="radio" name="age"/>
		12<input type="radio" name="age"/>
	</p>
	<p>Choisissez vos dates :</br>
		Aout :
				26<input type="checkbox" name="date" value="26-08" /></br>
		Septembre : 
				2<input type="checkbox" name="date" value="02-09"/>
				9<input type="checkbox" name="date" value="09-09"/>
				16<input type="checkbox" name="date" value="16-09"/>
				23<input type="checkbox" name="date" value="23-09"/>
				30<input type="checkbox" name="date" value="30-09"/></br>
		Octobre :
				 7<input type="checkbox" name="date" value="07-10"/>
				14<input type="checkbox" name="date" value="14-10"/>
				21<input type="checkbox" name="date" value="21-10"/>
				28<input type="checkbox" name="date" value="28-10"/>
	</p>
<p>Le représentant légal :</p>	
	<p>Nom <input type="text" /></p>
	<p>Prénom <input type="text" name="Prénom" /></p>
	<p>Mail <input type="email" name="Mail" /></p>
	<p>Téléphone <input type="tel" maxlength="10"minlength="10" name="Téléphone" /></p>
	<p>J'autorise le Kidscoding07 à prendre et à publier des photos de mon enfant : Oui :<input type="radio" name="photo" value="Oui" checked />Non : <input type="radio" name="photo" value="Non" /></p>
	<input type="submit" name="Envoyer" />
</form>
</div>